.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    counter-reset: gridcounter;
    
}
.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}
.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;   
}

.grid h3::before{
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -1.8rem;
    transform: rotate(5deg);

}
